button.suggested-action:not(:disabled) {
    background: rgb(68, 214, 44);
    border-color: #42c52d;
    border-bottom-color: #39ab26;
    text-shadow: 0px -1px #39ab26;
    font-weight: bold;
}

*:selected {
    background: rgb(68, 214, 44);
}

button.suggested-action:hover {
    background: #50e238;
    border-color: #39ab26;
}

button.suggested-action:active, button.suggested-action:checked {
    background: rgb(55, 173, 35);
    border-color: rgb(41, 135, 26);
}
